@{
	ViewData["Title"] = "Meu Perfil";
	@using MinhasColecoes.MinhasColecoesAPI.ViewModels;
}
@model UsuarioViewModel

<div class="row">
	<div class="col-12 col-md-6 col-lg-4 mb-3 mb-md-0">
		<h1>@Model.Nome</h1>
		<p>@Model.Descricao</p>
		<div class="row">
			<div class="col-8">
				<div class="d-flex">
					<a class="btn btn-primary">Editar perfil</a>
				</div>
			</div>
			<div class="col-4">
				<div class="d-flex flex-row-reverse justify-content-start">
					<a class="btn btn-danger text-white" asp-area="" asp-controller="Usuario" asp-action="Logout">Sair</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-8 mb-3">
		<div class="row row-cols-2 row-cols-md-1 row-cols-lg-3 row-cols-xxl-4 g-3">
			@foreach (ColecaoBasicViewModel c in Model.ColecoesMembro)
			{
				<div class="col">
					<div class="card h-100 shadow rounded-3">
						<div class="card-img-top bg-secondary position-relative" style="height: 150px;">
							@if (!c.Publica)
							{
								<a class="position-absolute end-0 bottom-0 p-2 text-primary bg-white rounded-top">
									<i class="bi-eye-slash-fill" title="Coleção particular"
									   style="font-size: 20px; line-height: 20px;"></i>
								</a>
							}
							else if (c.IdDono.ToString() == ViewBag.IdUsuario)
							{
								<a class="position-absolute end-0 bottom-0 p-2 text-primary bg-white rounded-top">
									<i class="bi-flag-fill" title="Dono da coleção"
									   style="font-size: 20px; line-height: 20px;"></i>
								</a>
							}
							<a asp-area="" asp-controller="Colecao" asp-action="Visualizar" asp-route-id="@(c.Id)"
							   class="card-img-top bg-secondary" style="height: 150px;">
								<img src="~/img/fotos/Colecao/@(c.Foto).jpg" alt="..."
									 class="mx-auto d-block" style="max-width: 100%; max-height: 100%;">
							</a>
						</div>
						<div class="card-body">
							<h6 class="card-title truncate-2l text-center">@(c.Nome)</h6>
							<p class="card-text truncate-2l">@(c.Descricao)</p>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>
